# Ignore annoying system files
**/.DS_Store
**/__pycache__
**/_site
**/_cache
**/dist-newstyle

# Ignore filetypes
**/*.jpg
**/*.JPG
**/*.png
**/*.svg
**/*.csv
**/*.xml
**/*.json
**/*.h5
**/*.pth
**/*.pkl
**/*.gz
**/*.zip
